* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(80, 185, 195);
  background: linear-gradient(180deg, rgba(80, 185, 195, 0.34217436974789917) 12%, rgba(0, 212, 255, 1) 100%);
}

h1 {
  text-align: center;
}

.productos {
  text-align: center;
  font-size: 1rem;
}

.producto {
  width: 300px;
  height: auto;
  border-radius: 20px;
  margin: 10px;
}

.subTitulo {
  text-align: center;
}

.menuLista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 800px;
  margin: 0 auto;
  background-color: blue;
  border-radius: 10px;
  margin-top: 1rem;

}

.itemLista {
  text-align: center;
}

.itemLista>a {
  color: white;
  text-decoration: none;
}

.piePagina {
  text-align: center;
  background-color: black;
  color: white;
  padding: 0.5%;
}

.ano {
  font-size: 1.5rem;
}

.nosotros {
  text-align: justify;
  margin: 5%;
}

@media (max-width:400px) {
  .menuLista {
    grid-template-columns: none;
    width: auto;
    text-align: center;
  }
}

@media (max-width:800px) {
  .menuLista {
    width: auto;
    text-align: center;
  }
}

@media (max-width:400px) {
  .itemLista {
    margin: 1%;
    font-size: 1.5rem;
    padding-left: 0px;
  }

  .nosotros {
    font-size: 2rem;
  }

  .productos {
    font-size: 2rem;
  }

  h1 {
    font-size: 3.5rem;
  }
}

/*  contacto */
.contacto{
  margin-top: 2rem;
}
.formulario{
  display: flex;
  width: 300px;
  margin: 0 auto;
  justify-content: center;
  
}
.textoForm{
  margin-left: 2%;
}
.inputForm{
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin: 2%;
}
.boton{
  width: 100%;
  background-color: #0099ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 2%;
  border: none;
  border-radius: 4px;
}
.boton:hover{
  background-color: #0099ffab;
}