* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: rgb(80, 185, 195);
  background: linear-gradient(180deg, rgba(80, 185, 195, 0.34217436974789917) 12%, rgba(0, 212, 255, 1) 100%);
  position: relative;
}

.form-content h3 {
  color: #fff;
}

.form-content p {
  color: #fff;
}

.form-content textarea {
  width: 100%;
  padding: 8px 20px;
  border-radius: 6px;
  border: 0;

}

.form-content textarea:hover,
.form-content textarea:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8D8D8D;
}
#noNombre{
  visibility: hidden;
}
#noCorreo{
  visibility: hidden;
}
#noMensaje{
  visibility: hidden;
}
.contenedor{
  min-height: calc(100vh - 242px);
}